.SocialMedia ul 
{
    height: auto;
    position: absolute;
    margin-left: 10px;
    left: 49%;
    top: 540px;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: 50px;
}
  
.SocialMedia ul li { list-style: none; }
  
.SocialMedia ul li a 
{
    position: relative;
    width:90px;
    height:90px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgb(2, 134, 139);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}
  
.SocialMedia ul li a:hover 
{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
}
  
.SocialMedia ul li a .fab 
{
    width: 100%;
    height: 100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: 75px;
    font-size: 48px;
    color: #262626;
    transition: .5s;
}
  
.SocialMedia ul li:nth-child(1) a:hover .fab { color: #e4405f; }

.SocialMedia ul li:nth-child(2) a:hover .fab { color: #3b5998; }

.SocialMedia ul li:nth-child(3) a:hover .fab { color: #e7002a; }

.SocialMedia ul li:nth-child(4) a:hover .fab { color: #00ac42; }

.SocialMedia ul li:nth-child(5) a:hover .fab { color: #dd4b39; }
  

  
