.tabs button:focus, input:focus, textarea:focus, select:focus 
{ outline: none; }
  
.tabs
{
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 85px;
    margin-left: 85px;
    margin-top: 0;
    margin-bottom: 0;
    height: 35rem;
    overflow: hidden;
    position: relative;
}

.tabs [class^="tab"] label, .tabs [class*=" tab"] label 
{
    color: whitesmoke;
    cursor: pointer;
    display: block;
    font-size: 35px;
    font-weight: 400;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; 
}

.tabs [class^="tab"] [type="radio"], .tabs [class*=" tab"] [type="radio"] 
{
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}

.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus, 
.tabs [class*=" tab"] [type="radio"]:hover, .tabs [class*=" tab"] [type="radio"]:focus 
{ border-bottom: 1px solid rgb(0, 110, 111); }

.tabs [class^="tab"] [type="radio"]:checked, .tabs [class*=" tab"] [type="radio"]:checked 
{ border-bottom: 3.5px solid rgb(0, 102, 111); }

.tabs [class^="tab"] [type="radio"]:checked + div, .tabs [class*=" tab"] [type="radio"]:checked + div 
{ opacity: 1; }

.tabs [class^="tab"] [type="radio"] + div, .tabs [class*=" tab"] [type="radio"] + div 
{
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}

.tabs .tab-2 [type="radio"] + div
{
    width: 200%;
    margin-left: 200%; 
}

.tabs .tab-2 { width: 50%; }

.tabs .tab-2 [type="radio"]:checked + div { margin-left: 0; }

.tabs .tab-2:last-child [type="radio"] + div { margin-left: 100%; }

.tabs .tab-2:last-child [type="radio"]:checked + div { margin-left: -100%; }

.tabs h2 {
    font-weight: 400;
}

.tabs .tab-2 img {
    vertical-align: middle; 
    border-radius:30%; 
    width:200px; 
    height:140px;
}

@media (max-width: 1228px) {
    .tabs {
        height: 40rem;
    }
}

@media (max-width: 947px) {
    .tabs {
        margin-right: 50px;
        margin-left: 50px;
    }

    .tabs h2 {
        font-size: 25px;
    }
}

@media (max-width: 852px) {
    .tabs {
        height: 45rem;
    }
}

@media (max-width: 774px) {
    .tabs {
        height: 55rem;
    }
}

@media (max-width: 608px) {
    .tabs {
        height: 65rem;
    }
}

@media (max-width: 525px) {
    .tabs {
        height: 75rem;
    }
}

@media (max-width: 455px) {
    .tabs {
        height: 85rem;
    }
}

@media (max-width: 410px) {
    .tabs {
        height: 95rem;
    }

}

@media (max-width: 328px) {
    .tabs .tab-2 img {
        width: 160px; 
        height: 110px;
    }
}